<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>ngMadLibs</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="container" ng-controller="MainCtrl">
  
  <header>
    <div class="smiley">
      <img src="images/mad-lib-happy-face.png" title="smiley" alt="smiley">
    </div>
    <div class="logo">
      <img src="images/ng-mad-libs-logo.png" title="logo" alt="logo">
      <h1>Automate This!</h1>
    </div>
  </header>

  <div class="inputs" ng-hide="submitted">

    <form ng-submit="submit()" name="myForm" novalidate>

      <h2>Provide the following words:</h2>
      
      <div class="input-row">
        <input type="text" ng-model="data.name" placeholder="name" required></input>
        <input type="text" ng-model="data.dirty_task" placeholder="dirty task"required></input>
        <input type="text" ng-model="data.obnoxiuous_celebrity" placeholder="obnoxiuous celebrity" required></input>
      </div>

      <div class="input-row">
        <input type="text" ng-model="data.job_title" placeholder="job title" required></input>
        <input type="text" ng-model="data.celebrity" placeholder="celebrity" required></input>
        <input type="number" ng-model="data.huge_number" placeholder="huge number" required></input>
      </div>

      <div class="input-row">
        <input type="text" ng-model="data.tedious_task" placeholder="tedious task" required></input>
        <input type="text" ng-model="data.useless_skill" required placeholder="useless skill"></input>
        <input type="text" ng-model="data.adjective" placeholder="adjective" required></input>
      </div>

      <input type="submit" value="Generate my MadLib" />

      <div class="error" ng-show="error">
        <p>Error, please please fill out every input field!</p>
      </div>

    </form>

    </div>

    <div ng-if="submitted">

      <div class="story">

        <p>
          {{data.name}} was a {{data.job_title}} who loved technology. Although {{he_she}} loved parts of {{his_her}} job, {{he_she}} absolutely hated {{data.dirty_task}} and {{data.tedious_task}}. So, {{data.name}} met with {{his_her}} life mentor {{data.celebrity}} who told {{his_her}} to learn how to {{data.useless_skill}} with Thinkful. Thinkful didn't offer a course on {{data.useless_skill}} so {{he_she}} studied programming instead.
        </p>
        <p>
          What a great decision! With {{his_her}} new skills, {{data.name}} built a(n) {{data.adjective}} robot named {{data.obnoxiuous_celebrity}} that not only loved {{data.dirty_task}} but did it {{data.huge_number}} faster.  
        </p>
     
      </div>

      <button ng-click="toggleGender()">Toggle Gender</button>
      <button ng-click="startOver()">Start Over</button>

    </div>

  </div>

</div>

<script src="js/angular.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>